<!DOCTYPE html>
<html class="no-js" data-next-app="{{__name}}" {{{flagStatuses}}}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="theme-color" content="#fff1e0"/>
		<meta name="dfp_site" content="test.next.ft" />
		<link rel="stylesheet" href="/{{__name}}/main.css"/>
		<title>{{#title}}{{this}} &mdash; {{/title}}FT.com</title>
		{{>next-mustard/check}}
	</head>
	<body>
		{{>next-header/templates/main}}

		{{{body}}}

		{{#if @root.flags.welcomePanel.isSwitchedOn }}
		{{>next-welcome/main}}
		{{/if}}
		{{>next-footer/main}}
		{{>access_barrier this}}
		{{#if @root.flags.javascript.isSwitchedOn }}
		<script>
		window.nextFeatureFlags = {{{json @root.flags}}};
		</script>
		{{/if}}
		{{>next-mustard/addscripts}}
		{{>next-js-setup/templates/tracking}}
	</body>
</html>
