<!DOCTYPE html>
<html class="no-js" data-next-app="{{__name}}" {{#if __isProduction}}data-next-is-production{{/if}} {{#if __version}}data-next-version="{{__version}}"{{/if}} {{{flagStatuses}}}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		{{#if setBase}}
			<base target="_parent" href="{{setBase}}">
		{{/if}}
		<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}"/>

		<link rel="apple-touch-icon" sizes="180x180" href="https://next-geebee.ft.com/assets/brand-alpha/icons/apple-touch-icon-180x180.png"/>
		<link rel="manifest" href="https://next-geebee.ft.com/assets/manifest/manifest-v1.json"/>
		<meta name="msapplication-TileColor" content="#fff1e0"/>
		<meta name="msapplication-TileImage" content="https://next-geebee.ft.com/assets/brand-alpha/icons/mstile-144x144.png"/>
		<meta name="theme-color" content="#fff1e0"/>

		{{#if og}}
		<meta property="og:title" content="{{ og.title }}"/>
		<meta property="og:url" content="{{ og.url }}"/>
		<meta property="og:description" content="{{ og.description }}"/>
		{{#if og.image}}<meta property="og:image" content="{{ og.image }}"/>{{/if}}
		<meta property="og:type" content="article"/>
		<meta property="og:site_name" content="Financial Times"/>
		{{/if}}

		{{#if twitterCard}}
		<meta property="twitter:card" content="{{ twitterCard.card }}"/>
		<meta property="twitter:site" content="@FinancialTimes"/>
		<meta property="twitter:title" content="{{ twitterCard.title }}"/>
		<meta property="twitter:description" content="{{ twitterCard.description }}"/>
		{{#if twitterCard.image}}<meta property="twitter:image" content="{{ twitterCard.image }}"/>{{/if}}
		{{/if}}

		<title>{{#title}}{{{this}}} &mdash; {{/title}}FT.com</title>
		{{>next-js-setup/templates/ctm}}
		{{#outputBlock 'head'}}
		{{/outputBlock}}
	</head>
	<body class="o-hoverable-on" data-next-is-logged-in="{{@root.anon.userIsLoggedIn}}">

		{{>n-header-footer/templates/header}}

		{{{body}}}

		{{#if @root.flags.welcomePanel}}
			{{>next-welcome/main}}
		{{/if}}
		{{#if @root.flags.myFTOnboardingOverlay}}
			{{>next-welcome/overlay}}
		{{/if}}
		{{>n-header-footer/templates/footer}}
		{{#if @root.flags.javascript}}
			{{>next-feature-flags-client/templates/flags}}
			{{>next-js-setup/templates/script-loader}}
			<script>
				{{#if anon}}
					var nextIsAnonymous = {{anon.userIsAnonymous}};
				{{/if}}
			</script>
		{{/if}}
		{{>next-js-setup/templates/tracking}}
	</body>
</html>
